<div class="container mt-4">

  <h2 class="mb-4 text-center fw-bold">Buscar Videojuegos</h2>

  <div class="row g-2 mb-4">
    <div class="col-md">
      <input type="text" [(ngModel)]="titulo" class="form-control" placeholder="Título">
    </div>
    <div class="col-md">
      <input type="text" [(ngModel)]="categoria" class="form-control" placeholder="Categoría">
    </div>
    <div class="col-md">
      <input type="number" [(ngModel)]="precioMin" class="form-control" placeholder="Precio Min">
    </div>
    <div class="col-md">
      <input type="number" [(ngModel)]="precioMax" class="form-control" placeholder="Precio Max">
    </div>
    <div class="col-md">
      <input type="text" [(ngModel)]="empresa" class="form-control" placeholder="Empresa">
    </div>
    <div class="col-md-auto">
      <button class="btn btn-primary w-100" (click)="buscar()">Buscar</button>
    </div>
  </div>

  <div class="row g-4">
    <div class="col-md-4" *ngFor="let juego of resultados; let i = index">
      <div class="card h-100 shadow-sm">

        <div *ngIf="juego.imagenes?.length > 0" id="carousel{{ i }}" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item" *ngFor="let img of juego.imagenes; let first = first" [class.active]="first">
              <img [src]="img" class="d-block w-100" alt="Imagen videojuego">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" [attr.data-bs-target]="'#carousel' + i" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
          </button>
          <button class="carousel-control-next" type="button" [attr.data-bs-target]="'#carousel' + i" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
          </button>
        </div>

        <div class="card-body">
          <h5 class="card-title">{{ juego.tituloVideojuego }}</h5>
          <p class="card-text">{{ juego.descripcion }}</p>
          <p><strong>Precio:</strong> Q{{ juego.precio }}</p>
          <p><strong>Clasificación:</strong> {{ juego.clasificacionEdad }}</p>
          <p><strong>Empresa:</strong> {{ juego.empresaNombre }}</p>
        </div>
      </div>
    </div>
  </div>

   <div class="card-footer bg-white border-0 text-end mt-3">
    <a routerLink="/usuario-comun" class="btn btn-outline-secondary">Regresar</a>
  </div>

</div>
