<div class="container mt-4">

  <h2 class="fw-bold mb-4">Categorías</h2>

  <div class="card shadow-sm mb-4">
    <div class="card-body">
      <h5 class="fw-bold mb-3">Crear categoría</h5>

      <input class="form-control mb-2" placeholder="Nombre" [(ngModel)]="nuevaCategoria.nombreCategoria" />

      <textarea class="form-control mb-3" placeholder="Descripción"
        [(ngModel)]="nuevaCategoria.descripcionCategoria"></textarea>

      <button class="btn btn-primary w-100" (click)="crearCategoria()">
        Crear categoría
      </button>
    </div>
  </div>

  <div class="card-footer bg-white border-0 text-end">
    <a routerLink="/admin-sistema" class="btn btn-outline-secondary">
      Regresar
    </a>
  </div>
</div>
